@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Student Interest System</h1>
    <p>The Student Interests System is a web application to help a university manage information related to students' interests and analyse student trends.​</p>
</div>
